body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.nav-wrapper {
	padding-left: 2%;
	padding-right: 2%;
}

.highlight {
	font-weight: bold;
}

.description {
	white-space: pre-wrap;
}

.input-field input:focus + label,
.input-field textarea:focus + label {
	color: #ffd740 !important;
}

.input-field input:focus,
.input-field textarea:focus {
	border-bottom: 1px solid #ffd740 !important;
	box-shadow: 0 1px 0 0 #ffd740 !important;
}

.input-field.inline {
	width: 100%;
}

#deleteForm,
#deleteTagForm {
	display: inline;
}

#flagBtn {
	color: #424242;
}

#flagBtn:hover {
	color: #bf360c;
}

.flag-action {
	display: inline;
}

.pagination {
	text-align: center;
}

.pagination .disabled {
	display: none;
}

.pagination li a {
	color: #fff;
}

.chip a {
	color: #424242;
}

#remember:checked + label:before {
	border-right: 2px solid #ffd740;
	border-bottom: 2px solid #ffd740;
}

#forgot-link:hover {
	color: #ffd740 !important;
}