body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.nav-wrapper {
	padding-left: 2%;
	padding-right: 2%;
}

.highlight {
	font-weight: bold;
}

.description {
	white-space: pre-wrap;
}

.input-field input[type=text]:focus + label {
	color: #ffd740 !important;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid #ffd740 !important;
	box-shadow: 0 1px 0 0 #ffd740 !important;
}

.input-field.inline {
	width: 100%;
}

#deleteForm,
#deleteTagForm {
	display: inline;
}