@require "base"

accentYellow = #ffd740
navGrey = #212121
navTextGrey = rgba(255,255,255,0.7)
textGrey = #424242
warningRed = #bf360c

h1, h2, h3, h4, h5, .brand-logo
	font-family: 'Muli', sans-serif

navPadding = 2%
.nav-wrapper
	padding-left: navPadding
	padding-right: navPadding

.tabs.tabs-transparent
	.indicator
		background-color: navGrey
	.tab a.active
		color: navTextGrey
		&:hover
			color: white
			
#topRow
	@supports (display: grid)
		@media TabletUp
			display: grid
			grid-template-columns: 60% 40%
			grid-template-rows: auto auto
			grid-column-gap: 30px
		@media TabletOnly
			grid-template-areas: "intro randomVid" "getStarted getStarted"
		@media DesktopOnly
			grid-template-areas: "intro randomVid" "getStarted randomVid"

#getStarted
	grid-area: getStarted
	position: relative
	@media TabletOnly
		justify-self: center
		max-width: 60%
	a.btn
		center X relative

#randomVid
	grid-area: randomVid
	@media TabletUp
		padding-top: 35px

.highlight
	font-weight: bold

.description
	white-space: pre-wrap

.input-field
	&.inline
		width: 100%
	input:focus, textarea:focus
		border-bottom: 1px solid accentYellow !important
		box-shadow: 0 1px 0 0 accentYellow !important
		& + label
			color: accentYellow !important

#deleteForm, #deleteTagForm
	display: inline

#flagBtn
	color: textGrey
	&:hover
		color: warningRed

.flag-action
	display: inline

.pagination
	text-align: center
	.disabled
		display: none
	li a
		color: white

.chip a
	color: textGrey

#remember:checked + label:before
	border-right: 2px solid accentYellow
	border-bottom: 2px solid accentYellow

#forgot-link:hover
	color: accentYellow !important